@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.asphalt {
  color: #2e3034;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Reey-Regular";
  src: url("../assets/fonts/Reey-Regular.eot");
  src: local("☺"), url("../assets/fonts/Reey-Regular.woff") format("woff"), url("../assets/fonts/Reey-Regular.ttf") format("truetype"), url("../assets/fonts/Reey-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.container {
  padding: 0;
}

.inputForm {
  border-radius: 50px;
}

/*Navbar*/
#header .navbar {
  z-index: 2;
}
#header nav .container {
  margin-right: 30px;
  margin-left: 10px;
}
@media (min-width: 280px) {
  #header nav {
    background-color: #27292c;
  }
}
@media (min-width: 576px) {
  #header nav {
    background-color: #27292c;
  }
}
@media (min-width: 768px) {
  #header nav {
    background-color: rgba(0, 0, 0, 0);
    float: right;
  }
}
@media (min-width: 992px) {
  #header nav {
    background-color: rgba(0, 0, 0, 0);
    float: right;
  }
}
#header a {
  font-family: "Open Sans", sans-ser;
  font-weight: 700;
  font-size: 15px;
}
#header nav a {
  white-space: nowrap;
}
#header .search-box {
  width: 180px;
  height: 50px;
  background-color: #fefeff;
}
#header .search-box button {
  border: none;
  outline: none;
  background: none;
}
#header .search-box input {
  border: none;
  background: none;
  outline: none;
}
#header .nav-link {
  color: white;
  transition: 0.2s;
}
@media (min-width: 768px) {
  #header .nav-link:hover {
    color: #ffd700;
    transform: scale(1.2);
  }
}
@media (min-width: 992px) {
  #header .nav-link:hover {
    color: #ffd700;
    transform: scale(1.2);
  }
}

/*SECTION 1*/
#section1 {
  background: url("/assets/img/Guides.png") top center no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: auto;
  position: relative;
  padding: 0;
  margin: 0;
}
#section1 .cookBrand {
  width: 50px;
  height: 50px;
  background-image: url("/assets/img/chef.png");
  background-size: cover;
  position: relative;
}
@media (min-width: 280px) {
  #section1 .cookBrand {
    margin-top: 20px;
  }
}
@media (min-width: 576px) {
  #section1 .cookBrand {
    margin-top: 100px;
  }
}
@media (min-width: 768px) {
  #section1 .cookBrand {
    margin-top: 150px;
  }
}
@media (min-width: 992px) {
  #section1 .cookBrand {
    margin-top: 200px;
  }
}
#section1 .cookBrandText {
  font-family: "Open Sans", sans-ser;
  font-weight: 700;
  font-size: 18px;
}

.textBrand h1 {
  font-family: "Reey-Regular";
}
@media (min-width: 280px) {
  .textBrand h1 {
    font-size: 20px;
  }
}
@media (min-width: 576px) {
  .textBrand h1 {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .textBrand h1 {
    font-size: 50px;
  }
}
@media (min-width: 992px) {
  .textBrand h1 {
    font-size: 90px;
  }
}
.textBrand h3 {
  font-family: "Open Sans", sans-ser;
  font-weight: 700;
  font-style: italic;
  font-size: 25px;
}
@media (min-width: 280px) {
  .textBrand h3 {
    font-size: 10px;
  }
}
@media (min-width: 576px) {
  .textBrand h3 {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .textBrand h3 {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .textBrand h3 {
    font-size: 25px;
  }
}

.ButtonMore button {
  transition: 0.2s;
}
.ButtonMore button:hover {
  transform: scale(1.2);
}
@media (min-width: 280px) {
  .ButtonMore button {
    width: 180px/3;
    height: 40px/3;
  }
}
@media (min-width: 576px) {
  .ButtonMore button {
    width: 180px/2;
    height: 40px/2;
  }
}
@media (min-width: 768px) {
  .ButtonMore button {
    width: 180px;
    height: 40px;
  }
}
@media (min-width: 992px) {
  .ButtonMore button {
    width: 200px;
    height: 50px;
  }
}
.ButtonMore span {
  font-family: "Open Sans", sans-ser;
  font-weight: 800;
}
@media (min-width: 280px) {
  .ButtonMore span {
    font-size: 25px/3;
  }
}
@media (min-width: 576px) {
  .ButtonMore span {
    font-size: 25px/2;
  }
}
@media (min-width: 768px) {
  .ButtonMore span {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .ButtonMore span {
    font-size: 25px;
  }
}
.ButtonMore h5 {
  font-family: "Open Sans", sans-ser;
  font-style: italic;
}
@media (min-width: 280px) {
  .ButtonMore h5 {
    font-size: 10px;
  }
}
@media (min-width: 576px) {
  .ButtonMore h5 {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  .ButtonMore h5 {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .ButtonMore h5 {
    font-size: 25px;
  }
}

/*SECTION 2*/
#section2 h2 {
  font-family: "Open Sans", sans-ser;
  font-weight: 400;
}
@media (min-width: 280px) {
  #section2 h2 {
    font-size: 10px;
  }
}
@media (min-width: 576px) {
  #section2 h2 {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  #section2 h2 {
    font-size: 22px;
  }
}
@media (min-width: 992px) {
  #section2 h2 {
    font-size: 27px;
  }
}
#section2 h3 {
  font-family: "Open Sans", sans-ser;
  font-weight: 700;
  font-size: 30px;
}
@media (min-width: 280px) {
  #section2 h3 {
    font-size: 10px;
  }
}
@media (min-width: 576px) {
  #section2 h3 {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  #section2 h3 {
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  #section2 h3 {
    font-size: 30px;
  }
}
#section2 h4 {
  font-family: "Open Sans", sans-ser;
  font-weight: 400;
}
@media (min-width: 280px) {
  #section2 h4 {
    font-size: 10px;
  }
}
@media (min-width: 576px) {
  #section2 h4 {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  #section2 h4 {
    font-size: 17px;
  }
}
@media (min-width: 992px) {
  #section2 h4 {
    font-size: 22px;
  }
}

@media (min-width: 280px) {
  .foodItem {
    width: 150px;
    height: 150px;
  }
}
@media (min-width: 576px) {
  .foodItem {
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 768px) {
  .foodItem {
    width: 400px;
    height: 400px;
  }
}
@media (min-width: 992px) {
  .foodItem {
    width: 400px;
    height: 400px;
  }
}

/*SECTION 3*/
#section3 {
  background-color: #27292c;
}
#section3 .descriptionText h4 {
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 280px) {
  #section3 .descriptionText h4 {
    font-size: 10px;
  }
}
@media (min-width: 576px) {
  #section3 .descriptionText h4 {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  #section3 .descriptionText h4 {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  #section3 .descriptionText h4 {
    font-size: 25px;
  }
}

/*SECTION 4*/
@media (min-width: 280px) {
  #section4 .foodItem {
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 576px) {
  #section4 .foodItem {
    width: 400px;
    height: 400px;
  }
}
@media (min-width: 768px) {
  #section4 .foodItem {
    width: 600px;
    height: 600px;
  }
}
@media (min-width: 992px) {
  #section4 .foodItem {
    width: 800px;
    height: 800px;
  }
}
#section4 h1 {
  font-family: "Open Sans", sans-ser;
  font-weight: 700;
  font-size: 58px;
  color: #27292c;
}
@media (min-width: 280px) {
  #section4 h1 {
    font-size: 15px;
  }
}
@media (min-width: 576px) {
  #section4 h1 {
    font-size: 25px;
  }
}
@media (min-width: 768px) {
  #section4 h1 {
    font-size: 38px;
  }
}
@media (min-width: 992px) {
  #section4 h1 {
    font-size: 58px;
  }
}
#section4 h3 {
  font-family: "Open Sans", sans-ser;
  font-weight: 400;
  color: #27292c;
  font-size: 29px;
}
@media (min-width: 280px) {
  #section4 h3 {
    font-size: 10px;
  }
}
@media (min-width: 576px) {
  #section4 h3 {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  #section4 h3 {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  #section4 h3 {
    font-size: 29px;
  }
}
#section4 button {
  background-color: #27292c;
}

/*SECTION 5*/
#section5 {
  background: url("/assets/img/Header Background.png") top center no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  position: relative;
  z-index: -1;
  padding: 0;
  margin: 0;
}
#section5 h1 {
  font-family: "Reey-Regular";
}
@media (min-width: 280px) {
  #section5 h1 {
    font-size: 13px;
  }
}
@media (min-width: 576px) {
  #section5 h1 {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  #section5 h1 {
    font-size: 38px;
  }
}
@media (min-width: 992px) {
  #section5 h1 {
    font-size: 58px;
  }
}
#section5 h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 25px;
}
@media (min-width: 280px) {
  #section5 h3 {
    font-size: 10px;
  }
}
@media (min-width: 576px) {
  #section5 h3 {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  #section5 h3 {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  #section5 h3 {
    font-size: 25px;
  }
}
#section5 .line {
  display: inline-flex;
  align-self: flex-end;
  width: 160px;
  border-bottom: solid white;
}
@media (min-width: 280px) {
  #section5 .line {
    width: 70px;
    border-bottom-width: 2px;
  }
}
@media (min-width: 576px) {
  #section5 .line {
    width: 100px;
    border-bottom-width: 5px;
  }
}
@media (min-width: 768px) {
  #section5 .line {
    width: 130px;
    border-bottom-width: 7px;
  }
}
@media (min-width: 992px) {
  #section5 .line {
    width: 160px;
    border-bottom-width: 10px;
  }
}
#section5 .leaves {
  position: absolute;
  margin-top: -10%;
}
#section5 .whiteBg {
  width: 100%;
  height: 250px;
  background-color: white;
  margin-top: -15%;
}
@media (min-width: 280px) {
  #section5 .whiteBg {
    height: 70px;
  }
}
@media (min-width: 576px) {
  #section5 .whiteBg {
    height: 70px;
  }
}
@media (min-width: 768px) {
  #section5 .whiteBg {
    height: 250px;
  }
}
@media (min-width: 992px) {
  #section5 .whiteBg {
    height: 260px;
  }
}

/*SECTION 6*/
#section6 h4 {
  font-family: "Open Sans", sans-ser;
  font-weight: 700;
}
@media (min-width: 280px) {
  #section6 h4 {
    font-size: 15px;
  }
}
@media (min-width: 576px) {
  #section6 h4 {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  #section6 h4 {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  #section6 h4 {
    font-size: 20px;
  }
}
#section6 .item-text h3 {
  font-family: "Reey-Regular";
  font-weight: 400;
}
@media (min-width: 280px) {
  #section6 .item-text h3 {
    font-size: 20px;
  }
}
@media (min-width: 576px) {
  #section6 .item-text h3 {
    font-size: 25px;
  }
}
@media (min-width: 768px) {
  #section6 .item-text h3 {
    font-size: 35px;
  }
}
@media (min-width: 992px) {
  #section6 .item-text h3 {
    font-size: 40px;
  }
}
#section6 .item-text h5 {
  font-family: "Open Sans", sans-ser;
  font-weight: 400;
}
@media (min-width: 280px) {
  #section6 .item-text h5 {
    font-size: 10px;
  }
}
@media (min-width: 576px) {
  #section6 .item-text h5 {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  #section6 .item-text h5 {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  #section6 .item-text h5 {
    font-size: 18px;
  }
}
#section6 .descriptionText h3 {
  font-family: "Open Sans", sans-ser;
  font-weight: 600;
}
@media (min-width: 280px) {
  #section6 .descriptionText h3 {
    font-size: 10px;
  }
}
@media (min-width: 576px) {
  #section6 .descriptionText h3 {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  #section6 .descriptionText h3 {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  #section6 .descriptionText h3 {
    font-size: 25px;
  }
}

/*SECTION 7*/
#section7 {
  background: url("/assets/img/bg.png");
  background-size: cover;
  min-width: 100%;
  min-height: auto;
  padding: 0;
  margin: 0;
  z-index: -1;
}
@media (min-width: 280px) {
  #section7 .backGround {
    min-width: 100px;
    min-height: 100px;
  }
}
@media (min-width: 576px) {
  #section7 .backGround {
    min-width: 200px;
    min-height: 200px;
  }
}
@media (min-width: 768px) {
  #section7 .backGround {
    min-width: 280px;
    min-height: 280px;
  }
}
@media (min-width: 992px) {
  #section7 .backGround {
    min-width: 300px;
    min-height: 300px;
  }
}
#section7 h1 {
  font-family: "Open Sans", sans-ser;
  font-weight: 700;
}
@media (min-width: 280px) {
  #section7 h1 {
    font-size: 15px;
  }
}
@media (min-width: 576px) {
  #section7 h1 {
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  #section7 h1 {
    font-size: 60px;
  }
}
@media (min-width: 992px) {
  #section7 h1 {
    font-size: 75px;
  }
}
#section7 h4 {
  font-family: "Open Sans", sans-ser;
  font-weight: 400;
}
@media (min-width: 280px) {
  #section7 h4 {
    font-size: 10px;
  }
}
@media (min-width: 576px) {
  #section7 h4 {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  #section7 h4 {
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  #section7 h4 {
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  #section7 .input-email {
    width: 600px;
  }
}
@media (min-width: 992px) {
  #section7 .input-email {
    width: 770px;
  }
}
#section7 .input-email button {
  background-color: #54524f;
  font-family: "Open Sans", sans-ser;
  font-weight: 700;
  color: white;
}

/*FOOTER*/
#section8 .item-share {
  width: 25px;
  height: 25px;
  margin-right: 5%;
  transition: 0.2s;
}
#section8 .item-share:hover {
  transform: scale(1.2);
}
#section8 h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #343434;
}
@media (min-width: 280px) {
  #section8 h4 {
    font-size: 15px;
  }
}
@media (min-width: 576px) {
  #section8 h4 {
    font-size: 25px;
  }
}
@media (min-width: 768px) {
  #section8 h4 {
    font-size: 31px;
  }
}
@media (min-width: 992px) {
  #section8 h4 {
    font-size: 31px;
  }
}
#section8 h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #343434;
}
@media (min-width: 280px) {
  #section8 h5 {
    font-size: 13px;
  }
}
@media (min-width: 576px) {
  #section8 h5 {
    font-size: 17px;
  }
}
@media (min-width: 768px) {
  #section8 h5 {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  #section8 h5 {
    font-size: 23px;
  }
}
#section8 a {
  text-decoration: none;
  color: #27292c;
  transition: 0.2s;
}
#section8 a:hover {
  color: #ffd700;
  transform: scale(1.2);
}